:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom:0px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main_container{
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 0 6rem;
  min-height:calc(100vh - 160px);
  min-height:-webkit-calc(100vh - 160px);
  min-height:-moz-calc(100vh - 220px);
  position: relative;
}
/* Responsive menu - starts */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 6rem;
}
.logoImg {
  height: 58px;
}

.header .menu-mobile {
  display: none;
}

.header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header .menu-item a, .header .menu-item button {
  display: block;
  border: none;
}

.header .logo {
  float: left;
}

/* menu */

.header .menu {
  clear: both;
  /* max-height: 0; */
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 33px 24px;
  position: relative;
  user-select: none;
}
.header .menu-item{
  padding-right:2rem;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header .menu-item {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
}
.cus_signout_btn{
  font-size: 24px;
  line-height: 65px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border:none !important ;
  outline: none !important;
  background: none !important;
  box-shadow:none !important;
}
.cus_signout_btn,
.cus_signout_btn:active,
.cus_signout_btn:focus {
  border:none !important ;
  background: none !important;
}
.cus_signout_btn:hover{
  border:none !important ;
  background: none !important;
}
.home-link {
  font-size: 24px;
  line-height: 65px;
}
.user-text {
  line-height: 62px;
}

/* Responsive menu - ends */
/* Footer css - starts */
.footer {
  width: 100%;
  z-index: 3;
  background-color: #000;
  color: #fff;
  margin: 0;
  border-width:0px;
  min-height: 60px;
  line-height: 60px;
}

@media only screen and (min-width : 320px) and (max-width: 767px) {
  .header .menu {
    display: none;
  }
  .header .menu-mobile {
    display: block;
  }
  .header {
    padding: 0;
  }
  
  .menu-mobile .user-text {
    float: left;
    line-height: 1;
  }
  .header .logo {
    float: none;
  }
  .header .menu-mobile .menu-item.home-text {
    /*width: 20%;*/
    float: left;
    margin-right: 18px;
  }
  .header .menu-mobile .menu-item {
    padding-right: 0;
  }
  .main_container {
    margin-top: 99px;
    padding: 0 1rem;
  }
  .footer {
    width: auto;
  }
  .custom_main_collection .amplify-collection-items{
    grid-template-columns: 1fr !important;
  }
  .menu-block-mobile {
    display: inline-block;
    margin: 0;
    padding: 0px 8px;
    /*float:left*/
  }
  .menu-block-mobile.left {
    float: left;
  }
  .menu-block-mobile.right {
    float: right; 
    /*clear: both; */
    position: relative; 
    margin-top: -24px;
    max-height: 50px;
  }
  .logoImg {
    height: 50px;
  }
}

/* Footer css - ends */

.custom_date{
  color: #9b9696;
  font-size: 13px;
  margin-bottom:8px;
}
.custom_visti_project_btn, .custom_visti_project_btn:active, .custom_visti_project_btn:focus{
  background: none !important;
  border:none !important;
  outline:none !important;
  box-shadow:none !important;
}
.custom_visti_project_btn{
  margin-left:auto;
  margin-top:auto;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  transition: transform .3s
}
.custom_visti_project_btn:hover{
  transform: scale(1.1);
}
.link_visited{
  pointer-events: none;
}
.cus_loader{
  top: 0;
  bottom: 0;
  display: inline-grid;
  position: absolute;
  left:0;
  right: 0;
  width:100%;
}
.cus_loader svg{
  margin:0 auto;
}
